<form>
  <div class="field">
    <label class="label">Straße</label>
    <div class="control">
      <input class="input" type="text" placeholder="Straße">
    </div>
  </div>
  <div class="field">
    <label class="label">Postleitzahl</label>
    <div class="control">
      <input class="input" type="text" placeholder="Nachname">
    </div>
  </div>
  <div class="field">
    <label class="label">Stadt</label>
    <div class="control">
      <input class="input" type="text" placeholder="Stadt">
    </div>
  </div>
  <div class="field">
    <label class="label">Bundesland</label>
    <div class="select">
      <select>
        <option>Auswählen</option>
        <option>Hamburg</option>
        <option>Niedersachsen</option>
      </select>
    </div>
  </div>
  <div class="field">
    <button type="submit" class="button is-success">Speichern</button>
  </div>
</form>

