<div class="container is-fluid">
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
      </a>
      <div class="navbar-burger burger" (click)="navbar_toggle = !navbar_toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu" [ngClass]="{ 'is-active': navbar_toggle }">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="dashboard">
          Dashboard
        </a>
        <a class="navbar-item" routerLink="job-offers">
          Job Angebote
        </a>
      </div>

      <div class="navbar-end">
        <a class="navbar-item" routerLink="settings/general">
          Settings
        </a>
        <div class="navbar-item">
          <a (click)="logout()" class="button is-danger">
            Logout
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>
