<table class="table is-fullwidth">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Type</th>
    <th>JobOffers</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>#U1</td>
    <td><a (click)="showOptionsModal =! showOptionsModal">Niklas Hanft</a></td>
    <td><span class="tag is-success">ADMIN</span></td>
    <td>0</td>
  </tr>
  </tbody>
</table>

<div class="modal" [ngClass]="{'is-active': showOptionsModal}">
  <div (click)="showOptionsModal =! showOptionsModal" class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <h2 class="subtitle">Menu</h2>
      <aside class="menu">
        <ul class="menu-list">
          <li><a>Editieren</a></li>
          <li><a>Deaktivieren</a></li>
        </ul>
      </aside>
    </div>
  </div>
  <button (click)="showOptionsModal =! showOptionsModal" class="modal-close is-large" aria-label="close"></button>
</div>
