<div class="container is-fluid">
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
      </a>
      <div class="navbar-burger burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="dashboard" routerLinkActive="is-active">
          Dashboard
        </a>
        <a class="navbar-item" [routerLink]="['job-offers', 'overview']" routerLinkActive="is-active">
          Job Angebote
        </a>
      </div>

      <div class="navbar-end">
        <a routerLink="settings/profile" routerLinkActive="is-active" class="navbar-item">Profil/Einstellungen</a>
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a (click)="logout()" class="button is-danger">
              <span class="icon">
                <i class="fa fa-sign-out"></i>
              </span>
                <span>Logout</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
