<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<div class="columns" *ngIf="!isLoading">
  <div class="column is-3">
    <nav class="level">
      <div class="level-left">
        <div class="dropdown is-hoverable is-left">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
              <span>Optionen</span>
              <span class="icon is-small">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu4" role="menu">
            <div class="dropdown-content">
              <div class="dropdown-item">
                <p>You can insert <strong>any type of content</strong> within the dropdown menu.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="https://thumb1.shutterstock.com/display_pic_with_logo/1382608/297132446/stock-photo-surgeons-team-working-with-monitoring-of-patient-in-surgical-operating-room-297132446.jpg" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://thumb1.shutterstock.com/display_pic_with_logo/2040761/313331060/stock-vector-city-hospital-building-with-ambulance-and-helicopter-in-flat-design-vector-313331060.jpg" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-6">{{company.name}}</p>
            <p class="subtitle is-6">{{company.name}}</p>
          </div>
        </div>

        <div class="content">
          Nette Firma <a>@{{company.name}}</a>.
          <a href="#">#css</a> <a href="#">#responsive</a>
          <br>
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <h1 class="title">
      {{jobOffer.name}}
      <small>{{jobOffer.job}}</small>
    </h1>
    <div class="tabs is-centered is-boxed">
      <ul>
        <li class="is-active">
          <a>
            <span class="icon is-small"><i class="fa fa-id-card" aria-hidden="true"></i></span>
            <span>Allgemein</span>
          </a>
        </li>
        <li>
          <a>
            <span class="icon is-small"><i class="fa fa-building" aria-hidden="true"></i></span>
            <span>Abteilung</span>
          </a>
        </li>
        <li>
          <a>
            <span class="icon is-small"><i class="fa fa-heartbeat" aria-hidden="true"></i></span>
            <span>Station</span>
          </a>
        </li>
        <li>
          <a>
            <span class="icon is-small"><i class="fa fa-envelope" aria-hidden="true"></i></span>
            <span>Nachrichten</span>
            <span class="icon is-small"><span class="tag is-danger">12</span></span>
          </a>
        </li>
      </ul>
    </div>

    <div class="content">
      <label class="label">Beschreibung</label>
      <p>{{jobOffer.description}}</p>
      <label class="label">Gehalt</label>
      <p>{{jobOffer.salary}} Euro/Std</p>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button (click)="createJobOfferApplication()" class="button is-success">Bewerbung schreiben</button>
      </div>
      <div class="control">
        <button routerLink=".." class="button is-text">Abbrechen</button>
      </div>
    </div>
  </div>
</div>
