<div class="columns">
  <div class="column is-2">
    <aside class="menu">
      <ul class="menu-list">
        <li>
          <a class="has-icons" routerLink="general" routerLinkActive="is-active">
            <span class="icon"><i class="fa fa-id-card"></i></span>
            <span>Allgemein</span>
          </a>
        </li>
        <li>
          <a class="has-icons" routerLink="locations" routerLinkActive="is-active">
            <span class="icon"><i class="fa fa-building"></i></span>
            <span>Standorte</span>
          </a>
        </li>
        <li>
          <a class="has-icons" routerLink="stations" routerLinkActive="is-active">
            <span class="icon"><i class="fa fa-heartbeat"></i></span>
            <span>Stationen</span>
          </a>
        </li>
        <li>
          <a class="has-icons" routerLink="application" routerLinkActive="is-active">
            <span class="icon"><i class="fa fa-envelope"></i></span>
            <span>Bewerbung</span>
          </a>
        </li>
      </ul>
    </aside>
  </div>
  <div class="column">
    <router-outlet></router-outlet>
  </div>
</div>

